---
# maintains ports, bianry or repo urls

org: encapsulate
domain_regex: ^([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$
monitor_server_dns: monitor.encapsulate.xyz
pushgateway_dns: pushgateway.encapsulate.xyz
ansible_port: 8192

architecture_map:
  x86_64: amd64
  aarch64: arm64

default_node_types:
  - validator
  - default

tmp_dir: /tmp

nvm:
  path: /opt/nvm

avail:
  validator:
    source_url: https://github.com/availproject/avail/releases/download
    ports:
      rpc_port: 9944
      p2p_port: 30333
      prometheus_port: 9615
  fullnode:
    source_url: https://github.com/availproject/avail/releases/download
    ports:
      rpc_port: 9944
      p2p_port: 30333
      prometheus_port: 9615
