[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ node_home_dir }}
ExecStart={{ node_bin_dir }}/{{ service_identifier }} --chain mainnet \
{% if type == "validator" %}--validator {% endif %}\
--name {{ org }} \
--base-path {{ node_data_dir }} \
--keystore-path {{ node_keystore_dir }} \
--port {{ avail[type].ports.p2p_port }} \
{% if type == "fullnode" %}--rpc-external {% endif %}\
--rpc-port {{ avail[type].ports.rpc_port }} \
--prometheus-external \
--prometheus-port {{ avail[type].ports.prometheus_port }}
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryLimit=64G
StandardOutput=append:{{ node_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target