---
- name: Include the specific network's vars file
  ansible.builtin.include_vars:
    file: vars/{{ env }}/{{ project }}.yml

- name: Apply UFW rules
  ansible.builtin.include_tasks: tasks/apply_ufw_rules.yml
  loop: "{{ node_ufw_rules }}"

- name: Include user creation task for avail
  ansible.builtin.include_tasks: tasks/create_user_and_directories.yml
  vars:
    home: "{{ node_home_dir }}"
    directories: "{{ node_directories }}"
    log_file_path: "{{ node_log_file_path }}"

- name: Include install binary task
  ansible.builtin.include_tasks: install_binary/main.yml

- name: Fetch node key from vault
  ansible.builtin.include_tasks: tasks/get_and_save_vault_secret.yml
  when: 
    - type == 'validator'
    - fetch_validator_keys | default(false) | bool
  vars:
    vault_secret_source_path: "{{ project }}/{{ org }}/{{ type }}/{{ node_key_file_name }}"
    secret_destination_path: "{{ node_key_file_path }}"
    secret_type: base64

- name: Copy systemd service file
  ansible.builtin.template:
    src: "{{ env }}/{{ project }}/systemd.service.j2"
    dest: /etc/systemd/system/{{ service_identifier }}.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload service
    - Restart service
